# Create a new directory and enter it
mkd() {
	mkdir -p "$@"
	cd "$@" || exit
}

_path() {
	echo "${PATH//:/$'\n'}"
}

_urlencode() {
	arg1=$1
	python3 -c "import sys, urllib.parse ; print(urllib.parse.quote_plus('$1'));"
}


# Make a temporary directory and enter it
tmpd() {
	local dir
	if [ $# -eq 0 ]; then
		dir=$(mktemp -d)
	else
		dir=$(mktemp -d -t "${1}.XXXXXXXXXX")
	fi
	cd "$dir" || exit
}

# `v` with no arguments opens the current directory in Vim, otherwise opens the
# given location
v() {
	if [ $# -eq 0 ]; then
		nvim .
	else
		nvim "$@"
	fi
}
